#img1
{
	position:absolute;
	left:770px;
	top:350px;
}
#img2
{
	position:absolute;
	left:770px;
	top:550px;
}
#img3
{
	position:absolute;
	left:770px;
	top:760px;
}
#paragraph
{
	position:absolute;
	left:20%;
	right:45%;
	top:400px;
	font-family:body_font;
}
#button
{
	position:absolute;
	left:1000px;
	top:1100px;
}

#title
{
	position:absolute;
	left:300px;
	top:370px;
	font-family:country_title;
	font-size: 34pt;
	color: #00248F;
}